.validation-message {
	color: green;
}

.error {
	color: red;
}

/*circle animation */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the blur effect */
    backdrop-filter: blur(10px); /* Adjust the blur amount */
    display: none; /* Initially hidden */
}

.loading-circle {
    width: 240px; /* Set the width */
    height: 240px; /* Set the height */
    border: 8px solid #3498db; /* Increase the border thickness */
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1; /* Ensure the circle is above the blurred background */
	margin-top: 20%;
	position: absolute;
	margin-left: 30%;
	display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*end of circle animation */

*{
	padding: 0;
	margin: 0;
	outline: 0;
	appearance: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html{
	font-size: 14px;
}

.container{
	display: grid;
	width: 100%;
	margin: 0;
	grid-template-columns: 21rem auto;
}

.body{ /* body */ 
	width: 100vw;
	height: auto;
    font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	background: #f6f6f6;
	transition: 0.5s ease-in-out;
}
.body.dark{
	background: #171a1d;
}
.logo-nav-light .logo{
	width: 250px;
	margin-left: 0rem;
	padding-bottom: 4rem;
	content: url("./assets/logo.png");
}
.logo-nav-light.dark .logo{
	content: url("./assets/logo.png");
}
/* ================================================================================*/
/* ================================================================================*/
/*       aside          */
aside.light .sidebar{
	padding-top: 1rem;
	width: 12vw;
	height: 100vh;
	background: #f6f6f6;
	border-radius: 15px;
	position: fixed;
	transition: 0.5s ease-in-out;
}
aside.dark .sidebar{
	background: #171a1d;
}
.sidebar:hover{
	box-shadow: none;
}
aside.light .sidebar a{
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	color:gray;
	height: 5rem;
	gap: 1.2rem;
	position: relative;
	margin-left: 4rem;
	transition: all 300ms ease;
}
aside.dark .sidebar a{
	color:848998;
}
aside.light .sidebar a i{
	font-size: 1.6rem;
	transition: all 300ms ease;
}
.logout{
	position: absolute;
	margin-left: 3rem;
	bottom: 0rem;
	width: 100%;
}
aside.light .sidebar a.active{
	margin-left: 1rem;
	background-color: #e2e3ee;
	color: #7380ec;
	transition: 0.5s ease-in-out;
}
aside.dark .sidebar a.active{
	margin-left: 1rem;
	background-color: #202528;
	color: #f53f3a;
}
aside.light .sidebar a.active:before{
	content: '';
	width: 15px;
	height: 100%;
	background: #7380ec;
	transition: 0.5s ease-in-out;
}
aside.dark .sidebar a.active:before{
	content: '';
	width: 15px;
	height: 100%;
	background: #f53f3a;
}
aside.light .sidebar a.active i{
	color: #7380ec;
	margin-left: calc(1rem - 10px);
}
aside.dark .sidebar a.active i{
	color: #f53f3a;
}
aside.light .sidebar a:hover{
	color: #7380ec;
	cursor: pointer;
}
aside.dark .sidebar a:hover{
	cursor: pointer;
	color: #f53f3a;
}
aside.light .sidebar a:hover i{
	margin-left: 1rem;
}

/* -----------------   Dashboard   --------------------*/
main .profile{
	position: absolute;
	right: 2rem;
	top: 0;
}
main .profile .hello-word{
	font-weight: 100;
	font-size: 17px;
	color: rgb(156, 154, 154);
	position: absolute;
	right: 8rem;
	top: 2rem;
}
main .profile .admin-word{
	color: rgb(156, 154, 154);
	position: absolute;
	right: 8rem;
	top: 4rem;
}
main .profile b{
	font-size: 1.4rem;
	font-weight: bold;
	color: white;
	transition: 0.5 ease-in-out;
}
main .profile .avatar{
	width: 80px;
	top: 10px;
	right: 0rem;
	position: absolute;
}
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/* light modes */
.dark-light-mode{
	position: absolute;
	display: flex;
	top: 1rem;
	left: 27%;
	background-color: rgb(218, 215, 215);
	height: 3.5rem;
	width: 7rem;
	padding: 9px 12px;
	border-radius: 30px;
}
.moon{
	height: 3.5rem;
	top: 0px;
	position: absolute;
	left: 12px;
	transition: 0.5s ease-in-out;
}
.moon i{
	color: black;
	width: 3.5rem;
	cursor: pointer;
	margin-top: 8px;
	padding-right: 10px;
	font-size: 28px;
}
.moon.actif{
	background-color: #515158;
	border-radius: 25px;
	height: 3.5rem;
	top: 0px;
	position: absolute;
	left: 0;
	transition: 0.5s ease-in-out;
}
.moon.actif i{
	color: white;
	width: 3.5rem;
	cursor: pointer;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 28px;
}
.sun{
	height: 3.5rem;
	top: 0px;
	position: absolute;
	right: 5px;
	transition: 0.5s ease-in-out;
}
.sun i{
	color: yellow;
	width: 3.5rem;
	cursor: pointer;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 28px;
}
.sun.actif{
	background-color: #7380ec;
	border-radius: 25px;
	height: 3.5rem;
	top: 0px;
	position: absolute;
	right: 0;
	transition: 0.5s ease-in-out;
}
.sun.actif i{
	color: white;
	width: 3.5rem;
	cursor: pointer;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 28px;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.title-light{
	margin-top: 1.5rem;
	margin-bottom: 4rem;
	color: black;
	transition: 0.5s ease-in-out;
}

.title-light.dark{
	color: white;
}

main .recent-signups.title-light{
	position: absolute;
	top: 8rem;
	color: black;
	right: 9vw;
}

main .recent-signups.title-light.dark{
	position: absolute;
	top: 8rem;
	color: white;
	right: 9vw;
}

main .date-light{
	display: inline;
	background: #e2e3ee;
	border-radius: 10px;
	margin-top: 1rem;
	padding: 1.2rem 1.6rem;
	height: 4rem;
	width: 16rem;
	transition: 0.5s ease-in-out;
}

main .date-light input[type="date"]{
	border: none;
	font-size: 20px;
	background-color: transparent;
	counter-reset: black;
	transition: 0.5s ease-in-out;
}
#date-end{
	margin-left: 5rem;
}

main .date-light.dark{
	background: #5c5c63;
}

main .date-light.dark input[type="date"]{
	color: #dce1eb;
}

.B_statistic{
	padding-left: 1.5rem;
	font-size: 4rem;
	font-weight: bold;
	transition: 0.5 ease-in-out;
}
#compress-button{
	display: none;
	/*display: inline-block;*/
}

main .reservations{
    width: 35rem;
    height: 35rem;
    background-color: white;
    box-shadow: 0 1rem 2rem #ff7782;
    border-radius: 40px;
    transition: all 0.3s ease;
}
main .reservations.dark{
    background:linear-gradient(45deg,#1f1d1d, #363639,#1c1a1a);
	color: white;
	transition: 0.5s ease-in-out;
}
main .users{
	margin-left: 2rem;
    width: 35rem;
    height: 35rem;
    background-color: white;
    box-shadow: 0 1rem 2rem #41f1b6;
    border-radius: 40px;
    transition: all 0.3s ease;
}
main .users.dark{
	color: white;
    background:linear-gradient(45deg, #565659,#000000);
	transition: 0.5s ease-in-out;
}
main .parkings{
	margin-left: 2rem;
    width: 35rem;
    height: 35rem;
    background-color: white;
    box-shadow: 0 1rem 2rem #7380ec;
    border-radius: 40px;
    transition: all 0.3s ease;
}

main .parkings.dark{
	color: white;
    background:linear-gradient(45deg, #565659,#000000);
	transition: 0.5s ease-in-out;
}

main .recent-boxes{
	display: flex;
	margin-top: 5rem;
}

main .reservations:hover{
	margin-top: -5px;
	box-shadow: 0 0.4rem 0.5rem 1rem #ff7782;
	transition: 0.2s ease-in-out;
}

main .users:hover{
	margin-top: -5px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 0.4rem 0.5rem 1rem #41f1b6;
}

main .parkings:hover{
	margin-top: -5px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 0.4rem 0.5rem 1rem #7380ec;
}

main .reservations img{
	margin-top: 0.8rem;
	margin-left: 1rem;
	width: 75px;
	padding-bottom: 1.5rem;
}

main .users img{
	margin-top: 1.5rem;
	margin-left: 1rem;
	width: 72px;
	padding-bottom: 1.5rem;
}

main .parkings img{
	margin-top: 0.8rem;
	margin-left: 1rem;
	width: 79px;
	padding-bottom: 1.5rem;
}

main .reservations h2{
	margin-left: 1.3rem;
	font-size: 2.5rem;
}

main .users h2{
	margin-left: 1.3rem;
	font-size: 2.5rem;
}

main .parkings h2{
	margin-left: 1.3rem;
	font-size: 2.5rem;
}

.box-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.box-front{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-back {
	padding-top: 1rem;
	padding-left: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	transform: rotateY(180deg);
	border-radius: 40px;
    background-color: white;
    color: black; /* Set the text color to black (or any other color you prefer) */
}

.box-back.dark{
	border-radius: 40px;
    color: black;
	background:white;
}

.back-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #2980b9;
}


.top5-users{
	color: #41f1b6;
	margin-top: -3rem;
	padding-bottom: 2rem;
	top: 0.5rem;
	margin-left: 30%;
}
.place_user,.email_adress, .total_reserv {
    display: inline;
    font-size: 20px;
}
.section-spacing {
    margin-top: 40px;
}
.medals {
    display: flex;
    flex-direction: column;
}
.medal {
    font-size: 24px;

	padding-right: 4rem;
}
.gold {
    color: gold;
	border-bottom: 3px solid gold;
}
.silver {
    color: silver;
	border-bottom: 3px solid silver;
}
.bronze {
    color: #cd7f32;
	border-bottom: 3px solid #cd7f32;
}
.pink {
    color: rgb(231, 87, 111);
	border-bottom: 3px solid rgb(231, 87, 111);
}
.line_user_places{
	height: 6rem;
}
.email_places_user.num1 , .total_res_users.num1{
	border-bottom: 3px solid gold;
}
.email_places_user.num2 , .total_res_users.num2{
	border-bottom: 3px solid silver;
}
.email_places_user.num3 , .total_res_users.num3{
	border-bottom: 3px solid #cd7f32;
}


.email_places_user, .total_res_users{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
}

/* parking page starts here */

.table-light {
	text-align: left;
    width: 100%;
	color: black;
    width:81vw;
    height: 3rem;
    margin-top: 3.5rem;
	border: 1px solid rgb(172, 171, 171);
	margin-bottom: 2rem;
}
.table-light th {
	background-color: rgb(236, 236, 236);
	color: black;
	padding-bottom: 15px;
	text-align: center;
	font-size: 22px;
}
.table-light td {
	background-color: white;
	height: 4rem;
	color: rgb(46, 46, 46);
	padding-bottom: 15px;
	text-align: center;
	font-size: 22px;
}

.table-light.dark th{
	background-color: transparent;
	color: white;
}

.table-light.dark td{
	height: 4rem;
	text-align: center;
	color: rgb(224, 224, 224);
	font-size: 22px;
	background-color: rgb(54, 53, 53);
}

.add{
    color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color:#7380ec;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 4rem;
	font-size: 20px;
    cursor: pointer;
}

.formulaire{
    background-color: #dce1eb;
    width: 50vw;
    height: 42vw;
    position: absolute;
    top: 3rem;
    border-radius: 20px;
    padding: 3rem 4rem;
    display: none;
	margin-left: 28%;
}

.inputs h2{
    margin-top: 0.8rem;
}

.inputs input{
    width: 100%;
	font-size: 30px;
    height: 2.9rem;
}

.save{
    background-color: #41f1b6;
    border: none;
    cursor: pointer;
    width: 25rem;
    color: white;
	font-size: 25px;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    margin-top: 2.5rem;
}

.cancel{
    background-color: #ee344d;
    border: none;
    cursor: pointer;
    width: 25rem;
    color: white;
    border-radius: 10px;
    width: 100%;
	font-size: 25px;
    height: 3rem;
    margin-top: 1rem;
}

.user-td{
	height: 4rem;
	padding-left: 30px;
	color: rgb(224, 224, 224);
	font-size: 22px;
	background-color: rgb(54, 53, 53);
}

/* Reservation page*/
.filtering-system{
	display: inline-flex;
}

.filter-date{
	margin-left: 2.5rem;
}
#filter_date-p{
	position: relative;
	font-size: 30px;
}
.filter-date.dark{
	color: white;
}
.filter-date h3{
	margin-top: 10px;
	font-size: 20px;
	color: rgb(122, 122, 122);
}
.filter-date-input{
	display: flex;
}
.filter-date .filter-date-input #start_date{
	background: #e2e3ee;
	border-radius: 10px;
	padding: 1.2rem 1.6rem;
	height: 4rem;
	width: 16rem;
	transition: 0.5s ease-in-out;
	margin-right: 2.5rem;
}

.filter-date .filter-date-input #end_date{
	background: #e2e3ee;
	border-radius: 10px;
	padding: 1.2rem 1.6rem;
	height: 4rem;
	width: 16rem;
	transition: 0.5s ease-in-out;
}

.filter-date .filter-date-input input[type="date"]{
	border: none;
	font-size: 20px;
	background-color: transparent;
	counter-reset: black;
	transition: 0.5s ease-in-out;
}




.filter{  /* select-menu */
	width: 300px;
	margin-left: 1rem;
}
.filter-p{
	color: black;
	font-size: 30px;
}
.filter-p.dark{
	color: white;
}

.filter .filter-btn{
	margin-top: -5px;
	display: flex;
	height: 55px;
	background: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	box-shadow: 0 0 5px black;
}

#filter_i{
	font-size: 30px;
	transition: 0.5s;
}

.filter.active #filter_i{
	transform: rotate(180deg);
}

.filter .options{
	position: absolute;
	padding: 20px;
	width: 300px;
	margin-top: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 3px black;
	display: none;
}

.filter.active .options{
	display: block;
}

.options .option{
	display: flex;
	height: 4rem;
	cursor: pointer;
	padding: 0 8px;
	border-radius: 10px;
	align-items: center;
	background:  #fff;
}

.options .option:hover{
	background:  #b9b9b9;
}

.option i{
	font-size: 20px;
	margin-left: 2px;	
	margin-right: 2px;
}
.option .option-text{
	font-size: 20px;
	color: #333;
}



/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* filter user*/


.filter_user{  /* select-menu */
	width: 300px;
	margin-left: 7rem;
	margin-top: -50px;
}
.filter_p_user{
	color: black;
	font-size: 30px;
}
.filter_p_user.dark{
	color: white;
}

.filter_user .filter-btn_user{
	margin-top: -5px;
	display: flex;
	height: 55px;
	background: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	box-shadow: 0 0 5px black;
}

#filter_i_user{
	font-size: 30px;
	transition: 0.5s;
}

.filter_user.active #filter_i_user{
	transform: rotate(180deg);
}

.filter_user .options_user{
	position: absolute;
	width: 300px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 3px black;
	display: none;
}

.filter_user.active .options_user{
	display: block;
}

.options_user .option_users{
	display: flex;
	height: 4rem;
	cursor: pointer;
	padding: 0 8px;
	border-radius: 10px;
	align-items: center;
	background:  #fff;
}

.options_user .option_users:hover{
	background:  #b9b9b9;
}

.option_users i{
	font-size: 20px;
	margin-left: 2px;	
	margin-right: 2px;
}
.option_users .option-text_user{
	font-size: 20px;
	color: #333;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

/* filter parking  */



.filter-parking{
	color: black;
	font-size: 30px;
	margin-bottom: 1rem;
}
.filter-parking.dark{
	color: white;
}
.filter_parking{
	width: 380px;
	margin-left: 8rem;
	margin-top: -4.5rem;
}
.filter_parking .filter-btn-parking{
	margin-top: -5px;
	display: flex;
	height: 55px;
	background: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	box-shadow: 0 0 5px black;
}
#filter_i_parking{
	font-size: 30px;
	transition: 0.5s;
}
.filter_parking.active #filter_i_parking{
	transform: rotate(180deg);
}
.filter_parking .options_parkings{
	position: absolute;
	padding: 20px;
	width: 380px;
	margin-top: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 3px black;
	display: none;
}
.filter_parking.active .options_parkings{
	display: block;
}
.options_parkings .option_parking{
	display: flex;
	height: 4rem;
	cursor: pointer;
	padding: 0 8px;
	border-radius: 10px;
	align-items: center;
	background:  #fff;
}
.options_parkings .option_parking:hover{
	background:  #b9b9b9;
}
.option_parking i{
	font-size: 20px;
	margin-left: 2px;	
	margin-right: 2px;
}
.option_parking .option-text_parking{
	font-size: 20px;
	color: #333;
}

/* --------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------*/

.reservation-td{
	height: 4rem;
	padding-left: 30px;
	color: rgb(224, 224, 224);
	font-size: 22px;
	background-color: rgb(54, 53, 53);
}








/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*       updating parkings here                  */




.update-formulaire .update{
    background-color: #41f1b6;
    border: none;
    cursor: pointer;
    width: 25rem;
    color: white;
	font-size: 25px;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    margin-top: 2.5rem;
}


.update-formulaire{
    background-color: #dce1eb;
    width: 50vw;
    height: 42vw;
    position: absolute;
    top: 3rem;
    border-radius: 20px;
    padding: 3rem 4rem;
    display: none;
	margin-left: 28%;
}

.inputs-update h2{
    margin-top: 0.8rem;
}

.inputs-update input{
    width: 100%;
	font-size: 30px;
    height: 2.9rem;
}


.update-formulaire .cancel_update{
    background-color: #ee344d;
    border: none;
    cursor: pointer;
    width: 25rem;
    color: white;
    border-radius: 10px;
    width: 100%;
	font-size: 25px;
    height: 3rem;
    margin-top: 1rem;
}